*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Tenor Sans", sans-serif;
  width: 1440px;
  background: var(--white);
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-family: "Libre Franklin";
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;

}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --white: #FFFFFF;
  --gray: #666666;
  --black: #000000;
  --info: #999999;
  --footer-dark:#141414;

}

.dark-body {
  --white: #000000;
  --black: #FFFFFF;
--footer-dark:rgb(255, 248, 248);
}

.info {
  font-family: "Libre Franklin";
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-align: left;
  color: var(--info);
  text-transform: uppercase;
}

.title {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0em;
}

.by {
  font-family: 'Libre Franklin';
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  color: var(--black);
  text-transform: uppercase;
  
}
.line{
  border: none;
  background: #E6E6E6;
  width: 100%;
  height: 1px;
  margin: 0;
}
.logo-none{
  display: none;
}