.features{
    margin-top: 90px;
}
.features-list{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 590px 590px;
    gap: 50px 20px;
}
.features-item-img{
    margin-bottom: 20px;
}
.features-item-title{
    margin-top: 18px;
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 6px;
}
.feature4{
    font-size: 20px;
}