.header{
    border-bottom: 1px solid #E5E5E5;;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav-list{
    width: 255px;
   padding: 33px 20px;
   margin: 0;
   display: flex;
   justify-content: space-between;
   
}
.header-nav-link{
    color: var(--black);
    font-size: 14px;
    line-height: 24px
}
