.header{
    border-bottom: 1px solid #E5E5E5;;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav-list{
    width: 255px;
   padding: 33px 20px;
   padding-right: 18px;
   margin: 0;
   display: flex;
}
.header-nav-link{
    color: var(--black);
    font-size: 14px;
    line-height: 24px;
    &:first-child{
        margin-right: 43px;
    }
   
    
}
.header-nav-item{
    &:last-child{
        display: block;
        width: 80px;
        padding-left: 2px;
    }
}
.header-text{
    text-transform: uppercase;
    font-family: "Libre Franklin";
    font-weight: 700;
    font-size: 22px;
    line-height: 0;
}