.intro {
    margin-top: 59px;
}

.intro-container {
    display: flex;
    justify-content: space-between;

}

.intro-img {
    margin-right: 51px;
}

.intro-info {
    margin-top: 6px;
}

.intro-title {
    font-size: 36px;
    line-height: 42px;
    margin-top: 18px;
}

.intro-text {
    font-family: 'Source Serif Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: var(--gray);
    margin-top: 27px;
    margin-bottom: 28px;
}
