.posts {
    margin-top: 60px;
}

.posts-list {
    padding: 0;
    display: grid;
    grid-template-columns: 387px 387px 387px;
    column-gap: 20px;
    row-gap: 50px;
    margin-bottom: 88px;
}

.posts-item-img {
    margin-bottom: 19px;
}

.title1{
    width: 347px;
}
.title2{
    width: 383px;
}
.title3{
    width: 355px;
}
.title4{
    width: 334px;
}
.title5{
    width: 364px;
}
.title6{
    width: 377px    ;
}
.posts-item-title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 18px;
    margin-bottom: 5px;
}

